@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* font-family: 'Open Sans', sans-serif; */


* {
    margin: 0;
    padding: 0;
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #000000;
}

.container {
    background-color: #DCDCDC;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}

.splash-1 {
    position: relative;
    height: 812px;
    width: 375px;
    background-color: #0B69FF;
    margin-bottom: 15px;
}

.logo {
    position: absolute;
    left: 160px;
    top: 378px;
}

.splash-2 {
    position: relative;
    height: 812px;
    width: 375px;
    background-color: #0B69FF;
    margin-bottom: 15px;
}

.login-text {
    position: absolute;
    left: 110.5px;
    top: 631px;

    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.34px;
    text-align: center;
    color: #FFFFFF;
}

.button-splash {
    position: absolute;
    top: 677px;
    left: 40px;
    height: 92px;
    width: 295px;
    background-color: #1A72FF;
    box-shadow: 0px 16px 30px rgba(18, 62, 119, 0.03);
    border: none;
    cursor: pointer;
}

.da {
    position: absolute;
    top: 22px;
    left: 28px;

    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.primary {
    position: absolute;
    top: 51px;
    left: 28px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #979797;
}

.logo-mini {
    position: absolute;
    top: 34px;
    left: 242px;
}

.light-theme {
    position: relative;
    height: 812px;
    width: 375px;
    background-color: #FCFDFF;

    margin-bottom: 15px;
}

.welcome-light {
    position: absolute;
    top: 80px;
    left: 40px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    opacity: 0.5;
}

.title-light {
    position: absolute;
    top: 101px;
    left: 40px;
    height: 84px;
    width: 199px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
}

.choose-light {
    position: absolute;
    top: 335px;
    left: 45px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    opacity: 0.5;
}

.button-1-light {
    position: absolute;
    width: 148px;
    height: 52px;
    top: 390px;
    left: 45px;
    background-color: #FFFFFF;

    border: 0.6px solid #0B69FF;
    cursor: pointer;
}

.text-light-1 {
    position: absolute;
    top: 21px;
    left: 24px;
    
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 10px;
    color: #0B69FF;
}

.button-2-light {
    position: absolute;
    width: 148px;
    height: 52px;
    top: 460px;
    left: 45px;

    border: 0.6px solid #C2C6CC;
    cursor: pointer;
}

.text-dark-1 {
    position: absolute;
    top: 21px;
    left: 24px;
    
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 10px;
    color: #C2C6CC;
}

.side-picture {

}

.button-save-light {
    position: absolute;
    width: 285px;
    height: 54px;
    top: 610px;
    left: 45px;
    background-color: #0B69FF;
    border: none;
    cursor: pointer;
}

.save-light {
    position: absolute;
    top: 20px;
    left: 31px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.arrow {
    position: absolute;
    top: 21px;
    left: 243.25px;
}

.you-light {
    position: absolute;
    top: 734px;
    left: 50px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    opacity: 0.6;
}

.dark-theme {
    position: relative;
    height: 812px;
    width: 375px;
    background-color: #4B525F;

    margin-bottom: 15px;
}

.welcome-dark {
    position: absolute;
    top: 80px;
    left: 40px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.5;
}

.title-dark {
    position: absolute;
    top: 101px;
    left: 40px;
    height: 84px;
    width: 199px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
}

.choose-dark {
    position: absolute;
    top: 335px;
    left: 45px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.5;
}

.button-1-dark {
    position: absolute;
    width: 148px;
    height: 52px;
    top: 390px;
    left: 45px;

    border: 0.6px solid #FFFFFF;
    opacity: 0.2;
    cursor: pointer;
}

.text-light-2 {
    position: absolute;
    top: 21px;
    left: 24px;
    
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 10px;
    color: #FFFFFF;
}


.button-2-dark {
    position: absolute;
    width: 148px;
    height: 52px;
    top: 460px;
    left: 45px;

    border: 0.6px solid #C2C6CC;
    cursor: pointer;
}

.text-dark-2 {
    position: absolute;
    top: 21px;
    left: 24px;
    
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 10px;
    color: #C2C6CC;
}

.button-save-dark {
    position: absolute;
    width: 285px;
    height: 54px;
    top: 610px;
    left: 45px;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.save-dark {
    position: absolute;
    top: 20px;
    left: 31px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #4B525F;
}

.you-dark {
    position: absolute;
    top: 734px;
    left: 50px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.6;
}

.button-login{
    position: absolute;
    width: 285px;
    height: 54px;
    top: 610px;
    left: 45px;
    background-color: #0B69FF;
    border: none;
    cursor: pointer;
}

.login-light {
    position: absolute;
    top: 20px;
    left: 31px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.customer-id {
    position: absolute;
    top: 404px;
    left: 45px;
    height: 64px;
    width: 285px;
    border-bottom: 0.2px solid #979797;
}

.label-id {
    position: absolute;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    opacity: 0.5;
}

.icon-id {
    position: absolute;
    top: 32px;
    left: 2px;
}

.input-id {
    position: absolute;
    top: 32px;
    left: 24px;
    width: 255px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    opacity: 0.5;
    border: none;
    color: #000000;
}

.input-id:focus {
    outline: none;
}

.customer-password {
    position: absolute;
    top: 497px;
    left: 45px;
    height: 64px;
    width: 285px;
    border-bottom: 0.2px solid #979797;
}

.label-password {
    position: absolute;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    opacity: 0.5;
    outline: none;
    border: none;
}

.icon-password {
    position: absolute;
    top: 32px;
    left: 2px;
}

.input-password {
    position: absolute;
    top: 32px;
    left: 24px;
    width: 255px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    opacity: 0.5;
    border: none;
    color: #000000;
}

.input-password:focus {
    outline: none;
}

.dont-text {
    position: absolute;
    top: 734px;
    left: 45px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    color: #000000;
    opacity: 0.6;
    text-align: center;
}

.dont-text a {
    color: #003CE5;
    font-weight: 700;
    text-decoration: none;
}

.customer-id-active {
    position: absolute;
    top: 224px;
    left: 45px;
    height: 64px;
    width: 285px;
    border-bottom: 0.2px solid #979797;
}

.customer-password-active {
    position: absolute;
    top: 317px;
    left: 45px;
    height: 64px;
    width: 285px;
    border-bottom: 0.2px solid #979797;
}

.button-login-active{
    position: absolute;
    width: 285px;
    height: 54px;
    top: 430px;
    left: 45px;
    background-color: #0B69FF;
    border: none;
    cursor: pointer;
}